<!-- ---
title: "Accepted Papers"
--- -->

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    <!-- {% include head.html %} -->
    <link rel="stylesheet" href="{{ site.baseurl }}/../assets/css/header-v3.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-82E45QNRKR"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-82E45QNRKR');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="27th International Symposium on Electronic Theses and Dissertations">
    <meta name="description" content="27th International Symposium on Electronic Theses and Dissertations">
    <meta name="author" content="">



    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/style.css">

    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/header-v2.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/header-v3.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/footer-v1.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/page_404_error.css">


    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/animate.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">



    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/shortcode_timeline2.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/blue.css">
    <link rel="stylesheet" href="https://etd2024.unza.zm/assets/css/custom1.css">

</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container container-space">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand brand-style" href="https://etd2024.unza.zm/">
                            <img id="logo-header" src="https://etd2024.unza.zm/assets/img/etd2024-2024-logo.png" width="250" alt="ETD 2024 Logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Submit</a>
                                <ul class="dropdown-menu">
                                    <!--<li><a href="list-of-calls">List of calls</a></li>-->
                                    <li><a href="https://etd2024.unza.zm/call-for-full-papers">Call for Full Papers</a></li>
                                    <li><a href="https://etd2024.unza.zm/call-for-posters" class='disabled'>Call for Posters</a></li>
                                    <li><a href="https://etd2024.unza.zm/call-for-workshops">Call for Workshops/Tutorials</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Program</a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://etd2024.unza.zm/program">Programme Overview</a></li>
                                    <li><a href="https://etd2024.unza.zm/keynotes">Keynote Speakers</a></li>
                                    <li><a href="https://etd2024.unza.zm/workshops">Workshops/Tutorials</a></li>
                                    <li><a href="https://etd2024.unza.zm/accepted-papers">Accepted Papers</a></li>
                                    <li><a href="https://etd2024.unza.zm/awards">Awards</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Attend</a>
                                    <ul class="dropdown-menu">                            
                                        <li><a href="https://etd2024.unza.zm/hybrid">Hybrid Participation</a></li>
                                        <li><a href="https://etd2024.unza.zm/registration">Registration</a></li>
                                        <!--<li><a href="https://etd2024.unza.zm/presentation-instructions">Presentation Instructions</a></li>-->
                                        <li><a href="https://etd2024.unza.zm/travel-grants">Travel Grants</a></li>
                                        <li><a href="https://etd2024.unza.zm/visa-information">Visa Information</a></li>
                                        <li><a href="https://etd2024.unza.zm/accommodation">Accommodation</a></li>
                                        <li><a href="https://etd2024.unza.zm/travel">Travel</a></li>
                                        <li><a href="https://etd2024.unza.zm/venue">Venue</a></li>
                                    </ul>
                            </li>
                            <li class=""><a href="https://etd2024.unza.zm/organizers" class="">Organizers</a></li>
                            
                            <!--<li class=""><a href="https://etd2024.unza.zm/call-for-sponsors" class="">Sponsors</a></li>-->

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Sponsors</a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://etd2024.unza.zm/call-for-sponsors">Call for sponsors</a></li>
                                    <li><a href="https://etd2024.unza.zm/list-of-sponsors">List of sponsors</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- End Navbar -->
        
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Accepted Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Accepted Papers</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    <script type="text/javascript">
                        //Get Banner image by random
                        var n = Math.floor(Math.random()*6+1);
                        document.write('<img class="img-responsive full-width"  src="https://etd2024.unza.zm/assets/img/main-banners/ETD2024_banner_' + n + '.jpg" alt="ETD 2024">');
                    </script>
    
                    <!-- Contents goes here -->
                    <div class="row" style="margin: 50px">
                        <div class="mb-10" style="margin-bottom: 30px;">
                            <h3 class="text-2xl font-semibold text-gray-800 mb-4">The following papers are accepted at ETD 2024 and displayed in alphabetical order</h3>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="list-group-item" style="border: 0px;">
                                    <div class="list-group-item-action">
                                        <h4 class="mb-1"><b>Paper Title 1</b></h3>
                                        <p class="text-muted mb-0"><em>Author Name 1</em></p>
                                    </div>
                                    <div class="list-group-item-action">
                                        <h4 class="mb-1"><b>Paper Title 2</b></h3>
                                        <p class="text-muted mb-0"><em>Author Name 2</em></p>
                                    </div>
                                    <div class="list-group-item-action">
                                        <h4 class="mb-1"><b>Paper Title 3</b></h3>
                                        <p class="text-muted mb-0"><em>Author Name 3</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="error-v1">
                            <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                        </div>
                        
                    </div>    
                </div>
            </div>
        </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
