---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/../assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Accepted Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Accepted Papers</li>
                </ul>
            </div>
        </div>

    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->

                <div class="row" style="margin: 50px">
                    <div class="mb-10" style="margin-bottom: 30px;">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-4">The following papers are accepted at ETD 2024 and displayed in alphabetical order</h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="list-group-item" style="border: 0px;">
                                <div class="list-group-item-action">
                                    <h4 class="mb-1"><b>Paper Title 1</b></h3>
                                    <p class="text-muted mb-0"><em>Author Name 1</em></p>
                                </div>
                                <div class="list-group-item-action">
                                    <h4 class="mb-1"><b>Paper Title 2</b></h3>
                                    <p class="text-muted mb-0"><em>Author Name 2</em></p>
                                </div>
                                <div class="list-group-item-action">
                                    <h4 class="mb-1"><b>Paper Title 3</b></h3>
                                    <p class="text-muted mb-0"><em>Author Name 3</em></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                        <div class="col-md-8 col-md-offset-2">
                            <div class="error-v1">
                                <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                            </div>
                        </div>                    
                </div>  

            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
