---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/../assets/css/header-v3.css">
    <style>
        .list{
            font-size:medium; 
            font-weight: bold;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Accepted Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li><a href="">Papers</a></li>
                    <li class="active">Posters</li>
                </ul>
            </div>
        </div>

    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->

                <div class="row" style="margin: 50px">
                    <!-- <div class="mb-10" style="margin-bottom: 30px;">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-4">The following papers are accepted at the ETD 2024 Conference</h3>
                    </div> -->
                    <div class="card">
                        <div class="card-body">
                            <div class="list-group-item" style="border: 0px;">
                                <div class="list-group-item-action">
                                    <li class="list">Enhancing Access to Scholarly Knowledge: Strategies for Promoting Open Access ETDs in Sri Lanka</li>
                                    <p class="text-muted mb-0">Kamani Perera, Ravindu Sachintha, Ashini Maxworth</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Enhancing Electronic Thesis and Dissertation Visibility: A Focus on Institutional Repository Platforms and Inherent Challenges in the Nigerian Context</li>
                                    <p class="text-muted mb-0">David, Okhakhu O., Sophia Adeyeye</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Total Quality Management in ETD Repository at Chartered Institute of Personnel Management (CIPM)</li>
                                    <p class="text-muted mb-0">Kamani Perera, Ravindu Sachinthana, Gnanawansa Weerathunga, Anushka Earskin, Indika Wijayasriwardana, Ruwani Senevirathne</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Automatic Summarisation of Electronic Theses and Dissertations for Increased Media Engagement</li>
                                    <p class="text-muted mb-0">Martin C. Musonda, Lighton Phiri</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Automatic Electronic Thesis and Dissertation Guideline Verification For Consistently Formatted Manuscripts</li>
                                    <p class="text-muted mb-0">Mubanga  C. Chibesa, Albertina Mooka, Gift Mawele, Lwiime Shansonga, Lighton Phiri</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Design and Implementation of an Interoperable Zambia National Electronic Thesis and Dissertation Portal</li>
                                    <p class="text-muted mb-0">Elijah Chileshe, Lighton Phiri</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Exploring AI-driven strategies for enhancing the visibility of E-Theses in Shodhganga Repository</li>
                                    <p class="text-muted mb-0">Nabajitm Saikia, Vivek Mr. Ranjan, Kumar K Manoj, Surbhi</p>
                                </div>

                                <div class="list-group-item-action">
                                    <li class="list">Assessing the Efficiency of Data Science Programs in Enhancing Big Data Analysis Skills among Health Libraries and Information Scientists</li>
                                    <p class="text-muted mb-0">Rajabu Simba</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Optimizing Electronic Theses and Dissertations Management for Broad Audience Engagement at Dr. Magufuli Library of Mbeya University of Science and Technology, Tanzania</li>
                                    <p class="text-muted mb-0">Zainabu H. Lilutu
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Determining the factors influencing the utilization of open source digital repository software in the preservation of ETDs in academic libraries in Bangladesh
                                    </li>
                                    <p class="text-muted mb-0">Zillur Rahman
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">ETDs in Ensuring Quality Education for Economic Growth to Achieve Sustainable Development Goals (SDGs):  Experience of SAARC Countries
                                    </li>
                                    <p class="text-muted mb-0">Zillur Rahman
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">The University of Johannesburg’s journey to enhance the content of the Institutional Repository (IR) and improve discoverability
                                    </li>
                                    <p class="text-muted mb-0">Mutali Lithole
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">The conversion of printed theses and dissertations into digital formats: A case study of the University of South Africa library
                                    </li>
                                    <p class="text-muted mb-0">Mduduzi Ntetha
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Global Visibility of National ETD Repositories of G20 Countries: comparative studies with respect to NDLTD's meta repository
                                    </li>
                                    <p class="text-muted mb-0">Sukanta Kumar Patra
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Managing ETDs in Rajshahi University Central Library : Problems and Possibilities
                                    </li>
                                    <p class="text-muted mb-0">M.A.M. Mominur Rahman
                                    </p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Creating an ETD database using OMEKA. The Zimbabwe Open University Experience
                                    </li>
                                    <p class="text-muted mb-0">Kandira Nobbie
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                        <div class="col-md-8 col-md-offset-2">
                            <div class="error-v1">
                                <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                            </div>
                        </div>                    
                </div>  

            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
