---
title: "Hybrid Participation"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Hybrid Participation</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Hybrid Participation</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">

                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Full Papers for ETD 2024, Xi’an, China</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for full papers and posters:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Full paper and poster abstracts submissions due: <span class="text-danger">Fri, Apr 26, 2024</span><br>
                            Full paper and poster abstracts notification: <span class="text-danger">Fri, May 17, 2024</span><br>
                            Full papers and poster submissions due: <span class="text-danger">Fri, Jul 19, 2024</span><br>
                            Full paper and poster submission notification: <span class="text-danger">Fri, Aug 16, 2024</span><br>
                        </p>

                        <p>In keep with the tradition from previous recent symposia, ETD 2024 will utilise a hybrid in-person and virtual format. The hybrid setup will enable both onsite and online attendees to have the opportunity to actively participate at the event.<br/> The ETD 2024 organisers we provide full support for remote participation and will work towards live-streaming key presentation sessions such as keynotes and panel discussions.</p>

                        <hr>
                        <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>Virtual Participation</strong></h2>
                        <p class="margin-top-0">
                            Remote presenters will be required to submit a video screencast recording of their presentation prior to their scheduled presentation. This video screencast will be used as a backup in the event that they are unable to present their work during the live session. In addition, the video screencast recording will also be made available on the online conference platform beforehand to all delegates. Submitting this video screencast recording will be mandatory for remote presenters.
                        </p>

                        <hr>

                        <h3><strong>ETD 2024 Local Conference Organising Committee</strong></h3>

                        <strong>Contact information:</strong><br>
                        Please email etd2024-info@unza.zm for any inquiries.
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
