---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Organizers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <!-- <li><a href="">BLANK</a></li> -->
                    <li class="active">Organizers</li>
                </ul>
            </div>
        </div>



    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="row" style="margin: 50px">
                    <h2 class="margin-bottom-5" style="margin-bottom: 30px">
                        <strong>Local Organizing Committee</strong>
                    </h2>

                    <div class="row">
                        <!-- Person 1 -->
                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://www.unza.zm/sites/default/files/styles/medium/public/staff/potrait/Phy%20image.jpg?itok=eY8fTPgH" alt="Phyela Mbewe" class="img-circle" style="width: 150px; height: 150px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://www.unza.zm/index.php/people/school-of-education/department-of-library-information-science/phyela-s-mbewe" style="color:#555;" target="_blank"><b>Phyela Mbewe</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>
                        <!-- Person 2 -->
                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://www.unza.zm/sites/default/files/styles/medium/public/staff/potrait/img-mug21-official_profile_mugshot-lighton_phiri.jpg?itok=wiJxJXIr" alt="Lighton Phiri" class="img-circle" style="width: 150px; height: 150px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://www.unza.zm/index.php/people/school-of-education/department-of-library-information-science/lighton-phiri" style="color:#555;" target="_blank"><b>Lighton Phiri</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>
                    </div>

                    <div class="error-v1">
                        <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
