---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Organizers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <!-- <li><a href="">BLANK</a></li> -->
                    <li class="active">Organizers</li>
                </ul>
            </div>
        </div>



    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="row" style="margin: 50px">
                    <h2 class="margin-bottom-5" style="margin-bottom: 30px">
                        <strong>Local Organizing Committee</strong>
                    </h2>

                    <div class="row">
                        <!-- Person 1 -->
                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://www.unza.zm/sites/default/files/styles/medium/public/staff/potrait/Phy%20image.jpg?itok=eY8fTPgH" alt="Phyela Mbewe" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://www.unza.zm/index.php/people/school-of-education/department-of-library-information-science/phyela-s-mbewe" style="color:#555;" target="_blank"><b>Phyela Mbewe</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>
                        <!-- Person 2 -->
                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://www.unza.zm/sites/default/files/styles/medium/public/staff/potrait/img-mug21-official_profile_mugshot-lighton_phiri.jpg?itok=wiJxJXIr" alt="Lighton Phiri" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://www.unza.zm/index.php/people/school-of-education/department-of-library-information-science/lighton-phiri" style="color:#555;" target="_blank"><b>Lighton Phiri</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>

                        <!-- Person 3 -->
                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_female.jpg" alt="Thabiso Mwiinga" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Thabiso Mwiinga</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>
                        <h3 class="dropdown-heading">
                            <strong> Bus Service </strong>
                            <img src="/assets/img/travel/drop_arrow3.png" width="45px" class="dropdown-icon">
                        </h3>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_female.jpg" alt="Kaoma Daka" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Kaoma Daka</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://datalab.unza.zm/sites/default/files/styles/thumbnail/public/pictures/2021-02/datalab_users-matildah_muchinga.jpg?itok=DUDcChQq" alt="Matildah Muchinga" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://datalab.unza.zm/people/matildahmuchinga" style="color:#555;" target="_blank"><b>Matildah Muchinga</b></a></h4>
                            <p style="text-align: center;">Lusaka Apex Medical University</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_male.jpg" alt="Stein Mkandawire" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Stein Mkandawire</b></a></h4>
                            <p style="text-align: center;">Zambia Research and Education Network</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_female.jpg" alt="Buumba Dubeka" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Buumba Dubeka</b></a></h4>
                            <p style="text-align: center;">Zambia Centre for Accountancy Studies University</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://datalab.unza.zm/sites/default/files/styles/thumbnail/public/pictures/2021-02/datalab_users-adrian_chisale.jpg?itok=i3zRfwmT" alt="Adrian Chisale" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://datalab.unza.zm/people/adrianchisale" style="color:#555;" target="_blank"><b>Adrian Chisale</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://datalab.unza.zm/sites/default/files/styles/thumbnail/public/pictures/2021-02/datalab_users-dokowe_tembo.jpeg?itok=Ah8Yc1wx" alt="Dokowe Tembo" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://datalab.unza.zm/people/dokowetembo" style="color:#555;" target="_blank"><b>Dokowe Tembo</b></a></h4>
                            <p style="text-align: center;">Zambia Centre for Accountancy Studies University</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_female.jpg" alt="Francina Makondo" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Francina Makondo</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="https://datalab.unza.zm/sites/default/files/styles/thumbnail/public/pictures/2021-02/datalab_users-cecilia_kasonde.jpg?itok=ltZV_Sh2" alt="Cecilia Kasonde" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="https://datalab.unza.zm/people/ceciliakasonde" style="color:#555;" target="_blank"><b>Cecilia Kasonde</b></a></h4>
                            <p style="text-align: center;">Kwame Nkrumah University</p>
                        </div>


                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_male.jpg" alt="Denny Nsokolo" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Denny Nsokolo</b></a></h4>
                            <p style="text-align: center;">Higher Education Authority</p>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <img src="/assets/img/organisers/etd_male.jpg" alt="Habeenzu Mulunda" class="img-circle" style="width: 120px; height: 120px;">
                            <h4 style="margin-bottom: 0px;"><a href="" style="color:#555;" target="_blank"><b>Habeenzu Mulunda</b></a></h4>
                            <p style="text-align: center;">University of Zambia</p>
                        </div>
                    </div>

                    <div class="error-v1">
                        <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
