<div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container container-space">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand brand-style" href="{{ site.baseurl }}/">
                <img id="logo-header" src="{{ site.baseurl }}/assets/img/etd2024-2024-logo.png" width="250" alt="ETD 2024 Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Submit</a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="list-of-calls">List of calls</a></li>-->
                        <li><a href="{{ site.baseurl }}/call-for-full-papers">Call for Full Papers</a></li>
                        <li><a href="{{ site.baseurl }}/call-for-posters" class='disabled'>Call for Posters</a></li>
                        <li><a href="{{ site.baseurl }}/call-for-workshops">Call for Workshops/Tutorials</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Program</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/program">Programme Overview</a></li>
                        <li><a href="{{ site.baseurl }}/keynotes">Invited Speakers</a></li>
                        <li><a href="{{ site.baseurl }}/workshops">Workshops/Tutorials</a></li>
                        <li class="dropdown-submenu">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Accepted Papers</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ site.baseurl }}/accepted-papers/full-papers">Full Papers</a></li>
                                <li><a href="{{ site.baseurl }}/accepted-papers/posters">Posters</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.baseurl }}/awards">Awards</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Attend</a>
                        <ul class="dropdown-menu">                            
                            <li><a href="{{ site.baseurl }}/hybrid">Hybrid Participation</a></li>
                            <li><a href="{{ site.baseurl }}/registration">Registration</a></li>
                            <!--<li><a href="{{ site.baseurl }}/presentation-instructions">Presentation Instructions</a></li>-->
                            <li><a href="{{ site.baseurl }}/travel-grants">Travel Grants</a></li>
                            <li><a href="{{ site.baseurl }}/visa-information">Visa Information</a></li>
                            <li><a href="{{ site.baseurl }}/accommodation">Accommodation</a></li>
                            <li><a href="{{ site.baseurl }}/travel">Travel</a></li>
                            <li><a href="{{ site.baseurl }}/venue">Venue</a></li>
                        </ul>
                </li>
                <li class=""><a href="{{ site.baseurl }}/organizers" class="">Organizers</a></li>
                
                <!--<li class=""><a href="{{ site.baseurl }}/call-for-sponsors" class="">Sponsors</a></li>-->

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Sponsors</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/call-for-sponsors">Call for sponsors</a></li>
                        <li><a href="{{ site.baseurl }}/list-of-sponsors">List of sponsors</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
