---
title: "Registration"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Registration</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>                    
                    <li><a href="">Attend</a></li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    
    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <h2><strong>ETD 2024 Registration</strong></h2>
                <p>The ETD 2024 conference package includes the following:
                <ul>
                    <li>Access to all pre-conference and main conference presentations from November 4-6, 2024</li>
                    <li>Daily lunch and tea catering</li>
                    <li>Access to conference banquet on November 5, 2024</li>
                </ul>
                </p>
                <div style="margin: 50px;">
                    <h3><strong>Registration Dates</strong></h3>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Registration Type</th>
                                <th>From</th>
                                <th>To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Early Registration</td>
                                <td>July 01, 2024</td>
                                <td>August 31, 2024</td>
                            </tr>
                            <tr>
                                <td>Normal Registration</td>
                                <td>September 01, 2024</td>
                                <td>October 5, 2024</td>
                            </tr>
                            <tr>
                                <td>Late Registration</td>
                                <td>October 06, 2024</td>
                                <td>November 06, 2024</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <h3><strong>Registration Fees</strong></h3>

                    <p>Please note that registration fees for local delegates are in Zambian Kwacha (ZMW) while registration fees for international delegates are in US dollars.</p>

                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Early Bird Registration</th>
                                <th>Normal Registration</th>
                                <th>Late Registration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="7"><b>ETD 2024</b></td>
                                <td><b>Local Delegates (ZMW)</b></td>
                                <td><b>4800</b></td>
                                <td><b>5500</b></td>
                                <td><b>6000</b></td>
                            </tr>
                            <tr>
                                <td>International Delegates (USD)</td>
                                <td>300</td>
                                <td>350</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>SADC Delegates (USD)</td>
                                <td>250</td>
                                <td>280</td>
                                <td>300</td>
                            </tr>
                            
                            <tr>
                                <td>Student Delegates (Int) (USD)</td>
                                <td>200</td>
                                <td>250</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td>Student Delegates (Local) (ZMW)</td>
                                <td>1500</td>
                                <td>2000</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td><b>Special Fee (Remote)</b></td>
                                <td colspan="3" style="text-align: center;"><b>Same as in-person event</b></td>
                            </tr>
                            <tr>
                                <td>NDLTD Members</td>
                                <td>270</td>
                                <td>315</td>
                                <td>360</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3><strong>Cancellations</h3></strong>
                    <p>Please note that all cancellation refunds are will ONLY to be processed after the end of the ETD 2024 event. Refunds will be issued back to the original account used to make registration payments. In case of cancelations please contact the Local Conference Organising Committee at: etd2024-info@unza.zm<br></p>
                    <blockquote class="hero margin-bottom-50">
                    Cancellation thresholds <br/><br/>
                    <ul>
                        <li>100% refund during early registration period</li>
                        <li>50% refund during regular registration period will be eligible for a 50% refund</li>
                        <li>0% refund during or after the late registration period (except in cases of visa denial)</li>
                    </ul>
                    </blockquote>
                </div>
                <div class="row" style="margin: 50px">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="error-v1">
                            <!-- <h3><span>Coming soon...</span></h3><br> -->
                            <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
