---
title: "Registration"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Registration</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>                    
                    <li><a href="">Attend</a></li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    
    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->

                <div style="margin: 50px;">
                    <h2 class="margin-bottom-5" style="margin-bottom: 0">
                        <strong>Registration Dates</strong>
                    </h2>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Registration Type</th>
                                <th>From</th>
                                <th>To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Early Registration</td>
                                <td>July 01, 2024</td>
                                <td>August 31, 2024</td>
                            </tr>
                            <tr>
                                <td>Normal Registration</td>
                                <td>September 01, 2024</td>
                                <td>October 5, 2024</td>
                            </tr>
                            <tr>
                                <td>Late Registration</td>
                                <td>October 06, 2024</td>
                                <td>November 06, 2024</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <h2 class="margin-bottom-5" style="margin-bottom: 0">
                        <strong>Registration Fees</strong>
                    </h2>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Early Bird Registration</th>
                                <th>Normal Registration</th>
                                <th>Late Registration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="7"><b>ETD 2024</b></td>
                                <td><b>Local Delegates (ZMW)</b></td>
                                <td><b>4000</b></td>
                                <td><b>4500</b></td>
                                <td><b>5000</b></td>
                            </tr>
                            <tr>
                                <td>International Delegates (USD)</td>
                                <td>300</td>
                                <td>350</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>SADC Delegates (USD)</td>
                                <td>250</td>
                                <td>280</td>
                                <td>300</td>
                            </tr>
                            
                            <tr>
                                <td>Student Delegates (Int) (USD)</td>
                                <td>200</td>
                                <td>250</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td>Student Delegates (Local) (ZMW)</td>
                                <td>1500</td>
                                <td>2000</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td><b>Special Fee (Remote)</b></td>
                                <td colspan="3" style="text-align: center;"><b>Same as in-person event</b></td>
                            </tr>
                            <tr>
                                <td>NDLTD Members</td>
                                <td>270</td>
                                <td>315</td>
                                <td>360</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin: 50px">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="error-v1">
                            <!-- <h3><span>Coming soon...</span></h3><br> -->
                            <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
