---
title: "Accommodation"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024 - Accommodation</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Accommodation</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Attend</a></li>
                    <li class="active">Accommodation</li>
                </ul>
            </div>
        </div>
        
    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="row" style="margin: 50px">

                    <!-- <h3><span>Coming soon...</span></h3><br> -->
                    <div class="bg-white rounded-lg p-4">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Information on Visa and Accommodation</strong>
                        </h2>
                        <p class="text-gray-700 mb-6">Welcome to Livingstone, where even our conferences have a touch of adventure! Get ready to dive into ideas as wild and powerful as Victoria Falls itself. Let's make waves in the world of knowledge together!</p>
                    
                        <div class="mb-10">
                            <!-- <h3 class="text-2xl font-semibold text-gray-800 mb-4">About Victoria Falls</h3> -->
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>About Victoria Falls</strong>
                            </h3>
                            <p class="text-gray-700 mb-4">Livingstone city is also the home of the Victoria Falls which is a breathtaking natural wonder renowned for its sheer power and beauty. Dubbed "The Smoke that Thunders," Victoria Falls is the largest curtain of falling water globally, stemming from the Zambezi River cascading over a 108-meter-high cliff. Visitors are treated to a sensory delight, especially during peak flow season, with mist rising high into the sky, forming mesmerizing rainbows. Adventure seekers can indulge in activities like bungee jumping, zip-lining, and helicopter rides, while those seeking tranquillity can enjoy sunset cruises along the Zambezi River. Whether you're drawn by nature, adventure, or culture, Victoria Falls promises an unforgettable journey, showcasing the beauty of the natural world.</p>
                        </div>
                    
                        <div class="mb-10">
                            <!-- <h3 class="text-2xl font-semibold text-gray-800 mb-4">Visa and Visa Application</h3> -->
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Visa and Visa Application</strong>
                            </h3>
                            <p class="text-gray-700 mb-4">Please visit the following sites for detailed information relating to travel and your stay in Zambia:</p>
                            <ul class="list-disc list-inside mb-4">
                                <li><a href="https://www.zambia.travel/visa.html" class="text-blue-500 hover:underline">Zambia Travel - Visa Information</a></li>
                                <li><a href="https://www.zambia.travel/" class="text-blue-500 hover:underline">Zambia Travel</a></li>
                                <li><a href="https://www.mot.gov.zm/?page_id=781" class="text-blue-500 hover:underline">Ministry of Tourism - Visa Information</a></li>
                            </ul>
                        </div>
                    
                        <div class="mb-2">
                            <!-- <h3 class="text-2xl font-semibold text-gray-800 mb-4">Accommodation in Livingstone</h3> -->
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Accommodation in Livingstone</strong>
                            </h3>
                            <p class="text-gray-700 mb-4">Below are some of the places that offer lodging facilities in Livingstone City:</p>
                        </div>
                    </div>
                    
    
                    <div class="bg-white rounded-lg shadow-md p-2 mb-8">
                        <!-- <h3 class="text-3xl font-semibold text-gray-800 mb-6">Accommodation in Livingstone</h3> -->
                        
                        <div class="table-responsive">
                            <table class="table table-bordered text-xxl">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th scope="col">Hotel/Lodge</th>
                                        <th scope="col">Distance from the Venue</th>
                                        <th scope="col">Room Type</th>
                                        <th scope="col">Price/Night</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                    <!-- 1 -->
                                    <tr>
                                        <td rowspan="5" style="vertical-align: middle;">
                                            <strong>Avani Victoria Falls Resort</strong>
                                        </td>
                                        <td rowspan="5" style="vertical-align: middle;"><b>11 min (7.4 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Avani Standard Room <br><small>Maximum 2 adults</small></td>
                                        <td rowspan="5" style="vertical-align: middle;"><a href="https://www.avanihotels.com/en/victoria-falls">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Avani Garden Room<br><small>Maximum 2 adults</small></td>
                                    </tr>
                                    <tr>
                                        <td>Avani Family Room<br><small>Maximum 2 adults & 2 children</small></td>
                                    </tr>
                                    <tr>
                                        <td>Avani Superior Room<br><small>Maximum 2 adults</small></td>
                                    </tr>
    
                                    <tr>
                                        <td>Avani Suite
                                            <br><small>Maximum 2 adults</small></td>
                                    </tr>
                                    
    
    
                                    <!-- 2 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Radisson Blu Mosi-Oa-Tunya, Livingstone Resort</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>5 min walk</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Superior Room with Terrace<br><small>1 King or 2 twin</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-resort-mosi-oa-tunya?facilitatorId=REZIDORTRIPADVISORBUSINESSLISTINGS&cid=a%3Amt+b%3Atba+c%3Aemea+d%3AMEA+e%3Ardb+f%3Aen-us+g%3Aho+h%3ALVIZA+i%3Ata_BL-WEB&dclid=CjgKEAjwrcKxBhCjpPLU8OPIuCgSJACQprSFTHd_GSOGsgDDmoWV56O4qTjMdX511O56nKHAsd0cYPD_BwE">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Premium Room with Terrace - Zambezi River View<br><small>1 King or 2 twin</small></td>
                                    </tr>
                                    <tr>
                                        <td>Suite with Terrace - Zambezi River View<br><small>1 King</small></td>
                                    </tr>
                                    <tr>
                                        <td>Premium Suite with Terrace - Zambezi River View<br><small>1 King</small></td>
                                    </tr>
    
                                    <!-- 3 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>The Royal Livingstone Victoria Falls Zambia hotel by Anantara</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>11 min (7.4 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Premier Garden Balcony Room<small>King bed or Twin beds</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.anantara.com/en/royal-livingstone">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Premier Garden Terrace Room<br><small>King bed or Twin beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>Deluxe Zambezi River Balcony Room<br><small>King bed or Twin beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>Deluxe Zambezi River Terrace Room<br><small>King bed or Twin beds</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 4 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Fairmount Hotel</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>14 min (6.6 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">LePatino<br><small>2 double bed(s)</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.tripadvisor.com/Hotel_Review-g298089-d1881644-Reviews-New_Fairmount_Hotel_and_Casino-Livingstone_Southern_Province.html?m=19905">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The Tower<br><small>1 Queen & 1 Sofa</small></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The East Wing<br><small>1 Queen & 1 Sofa</small></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The Dungeon<br><small>Bedsitter</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 5 -->
    
                                    <tr>
                                        <td rowspan="3" style="vertical-align: middle;">
                                            <strong>Protea Hotel Livingstone</strong>
                                        </td>
                                        <td rowspan="3" style="vertical-align: middle;"><b>6 min (3.6 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Guest room<br><small>1 King, Pool and Garden view</small></td>
                                        <td rowspan="3" style="vertical-align: middle;"><a href="https://www.marriott.com/en-us/hotels/lvili-protea-hotel-livingstone/overview/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Guest room<br><small>2 Queen, Pool and Garden view</small></td>
                                    </tr>
                                    <tr>
                                        <td>Guest room<br><small>King, Garden view</small></td>
                                    </tr>
                                    <!-- <tr></tr> -->
    
                                    <!--  -->
    
                                    <!-- 6 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Ngoma Zanga Lodge</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>9 min (5.1 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Executive Triple Room<br><small>1 single bed & 1 large double bed</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.booking.com/hotel/zm/ngoma-zanga-lodge.en-gb.html?aid=356980&label=gog235jc-1DCAMYiwQo_AFCC2xpdmluZ3N0b25lSAlYA2j8AYgBAZgBCbgBF8gBDNgBA-gBAfgBAogCAagCA7gCl8jCsQbAAgHSAiQ0M2FjMGFkYS0wZDVjLTRjNDItODRmMi1hYmNjMWI5YjBlNTPYAgTgAgE&sid=2ae8fb7def31daa6469c8aa678b56cfd#map_opened-hotel_header">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Double or Twin Room<br><small>1 large double bed</small></td>
                                    </tr>
                                    <tr>
                                        <td>Budget Double Room<br><small>1 large double bed</small></td>
                                    </tr>
                                    <tr>
                                        <td>Deluxe King Room<br><small>1 extra-large double bed</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 7 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Pumulani Lodge</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>14 min (6.8 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">LePatino<br><small>2 double bed(s)</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.tripadvisor.com/Hotel_Review-g298089-d3476442-Reviews-Pumulani_Livingstone-Livingstone_Southern_Province.html?m=19905">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The Tower<br><small>1 Queen & 1 Sofa</small></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The East Wing<br><small>1 Queen & 1 Sofa</small></td>
                                    </tr>
                                    <tr>
                                        <td>Victoria Falls Castle - The Dungeon<br><small>Bedsitter</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 8 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>The David Livingstone Safari Lodge & Spa</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>8 min (3.8 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Standard rooms</td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://thedavidlivingstone.com/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Signature suites</td>
                                    </tr>
                                    <tr></tr>
                                    <tr></tr>
    
                                    <!--  -->
    
                                    <!-- 9 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Fawlty Towers</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>9 min (5.2 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Standard Double Room<br><small>1 double bed</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.tripadvisor.com/Hotel_Review-g298089-d502308-Reviews-Fawlty_Towers-Livingstone_Southern_Province.html?m=19905">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Standard Twin Room<br><small>2 single beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>Twin Room with Garden View<br><small>2 single beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>Deluxe Double Room<br><small>1 double bed</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 10 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Victoria Falls Waterfront</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>7 min (3.6 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Standard Room with Garden View</td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://victoriafallswaterfront.com-hotel.website/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Riverside Room with River View</td>
                                    </tr>
                                    <tr>
                                        <td>Family Room<br><small>Offers 4 beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>King Room with River View<br><small>Offers 1 bed</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 11 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Maramba River Lodge</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>6 min (3.2 km)</td></td>
                                        <td rowspan="1" style="vertical-align: middle;">Luxury Tents</td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://maramba-zambia.com/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Family Chalet<br><small>4 or 6 guests</small></td>
                                    </tr>
                                    <tr>
                                        <td>Triple Chalet<br><small>3 guests</small></td>
                                    </tr>
                                    <tr>
                                        <td>Executive Chalet<br><small>2 guests</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 12 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Jollyboys Backpackers</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>12 min (6.1 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Double Room En Suite<br><small>One double bed</small></td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://backpackzambia.com/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Basic Double Room Shared Facilities<br><small>One double bed</small></td>
                                    </tr>
                                    <tr>
                                        <td>Twin Room En Suite<br><small>Two single beds</small></td>
                                    </tr>
                                    <tr>
                                        <td>Basic Twin Room Shared Facilities<br><small>Two twin beds</small></td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- 13 -->
    
                                    <tr>
                                        <td rowspan="4" style="vertical-align: middle;">
                                            <strong>Chapa Classic Lodge & Tours</strong>
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle;"><b>14 min (6.9 km)</b></td>
                                        <td rowspan="1" style="vertical-align: middle;">Deluxe Rooms Vanguard</td>
                                        <td rowspan="4" style="vertical-align: middle;"><a href="https://www.chapaclassiclodge.com/">Visit website</a></td>
                                    </tr>
                                    <tr>
                                        <td>Double/Twin Room Classic</td>
                                    </tr>
                                    <tr>
                                        <td>Single room classic</td>
                                    </tr>
                                    <tr>
                                        <td>Deluxe classic</td>
                                    </tr>
    
                                    <!--  -->
    
                                    <!-- <tr class="bg-light">
                                        <td colspan="4">
                                            <a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-resort-mosi-oa-tunya/rooms">Reservation Website</a>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    
                    <div class="mb-2">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-4">Travel to Livingstone- how to get to and around Livingstone.</h3>
                        <p class="text-gray-700 mb-4">Please follow the link below for more information about how to get to and around Livingstone. </p>
                        <p><a href="https://victoriafalls-guide.net/livingstone-travel.html">Click here</a></p>
                    </div>
    
                    <div class="error-v1" style="height: 50vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <br/>
                        <p style="width: 100%; flex: 1;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15187.492329658398!2d25.83651604244843!3d-17.89138719551448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHotels!5e0!3m2!1sen!2szm!4v1720635780265!5m2!1sen!2szm" 
                                    title="Google Map to Alternative Accommodation" 
                                    style="border:0; width: 100%; height: 100%;" 
                                    allowfullscreen="" 
                                    loading="lazy" 
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </p>
                        <a class="btn-u btn-bordered" href="https://etd2024.unza.zm/">Back Home</a>
                    </div>
                    
                    
           
                    </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
