---
title: "Mukuni BOMA Welcome Reception"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024 - Venue</title>
    {% include head.html %}

    <style>
         .travel-container {
            border: 1px solid #ccc;
            padding: 10px;
            width: 90%;
            margin: 20px auto;
        }
        .visit_places{
            background-color:#eeeeee;
            padding:8px;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Mukuni BOMA Welcome Reception</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Mukuni BOMA Welcome Reception</li>
                </ul>
            </div>
        </div>
      
    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}

                <div class="travel-container">

                    <div style="margin-bottom:40px;">
                        <h4 class="visit_places">Mukuni Boma Welcome Reception</h4>
                        <p>Step into an unforgettable cultural journey under the African stars at the Mukuni Boma Welcome Reception. Set against the breathtaking backdrop of the Victoria Falls, this immersive experience invites guests to discover the rich heritage of Zambia. From the powerful drumbeats to the graceful movements of traditional Ngoni dancers, every moment is infused with the rhythm and spirit of a Zambian village.</p>
                        <p>Hosted at the scenic Mukuni Boma restaurant at Avani Victoria Falls Resort, this reception offers a perfect setting for visitors and locals to come together. As the evening unfolds, guests are greeted with a refreshing local brew before indulging in a delicious four-course meal featuring Pan-African cuisine and grilled game meat, all prepared over an open flame.</p>
                        <p>The magic of the evening is illuminated by lanterns, candles, and a glowing fire pit, setting the stage for traditional storytelling, vibrant songs, and energetic dances. Expert drummers and Ngoni performers bring the night to life with their dynamic rhythms and vibrant moves. Guests are welcome to join in, dancing and drumming along, making it a night to remember.</p>
                        <p>Whether you're sharing the day's adventures or making new memories, the Mukuni Boma Welcome Reception promises an authentic and enriching cultural experience that will stay with you long after the evening ends.</p>
                    </div>

                    <!-- Display Images -->
                    <div style="text-align: center; margin: 0 auto;">
                        <img src="{{ site.baseurl }}/assets/img/mukuni_boma_event/etd2024-mukuni_boma_dancers-1.webp" alt="Mukuni Boma Dancers" style="width:500px; height: 350px; margin-bottom: 20px;">
                        <img src="{{ site.baseurl }}/assets/img/mukuni_boma_event/etd2024-mukuni_boma_dancers-2.jpeg" alt="Mukuni Boma Dancers" style="width:500px; height: 350px; margin-bottom: 20px;">
                    </div>
                    
                    


                    <div style="margin-bottom:40px;">
                        <h4 class="visit_places">Mukuni Village Tour</h4>
                            <p style="text-align:justify;">
                                Located in the Kazungula District of Zambia’s Southern Province, Mukuni Village is a historic settlement just seven kilometers from the iconic Victoria Falls. Originally founded in the 13th century by Bedyango, the Leya Tribal Matriarch, the village was known as Gundu. In the 17th century, it was renamed Mukuni Village in honor of Mukokalya Mukuni N'gombe, a revered leader.

                                The Mukuni Chiefdom is expansive, with over 100 smaller villages spread across the region. There are twelve schools and four rural health centers located in Mukuni, N'Songwe, Katapazi, and Mahalulu. The Butterfly Tree charity has played a crucial role in supporting education and health initiatives in the area, building the first high school and a special education unit in the district. In addition to these efforts, new schools have been constructed in N'dele, Chuunga, and Malima, while existing schools in other villages have been expanded or supported, ensuring access to education for children throughout the Chiefdom.                            </p>

                            <div style="text-align: center; margin: 0 auto;">
                                <p  style="text-align: center; margin: 0 auto;">
                                    <img src="/assets/img/mukuni_boma_event/mukuni_village_1.jpg" style="width:500px; height: 350px; margin-bottom: 20px;" alt="mukuni_village_1"/>
                                 </p>
                            </div>

                            <p>Mukuni Village, the heart of the Mukuni Chiefdom, is home to over 8,000 residents and sits atop a dry, sandy knoll. Due to the area's infertile soil, traditional farming is difficult, so the community has embraced tourism as a vital source of income. Today, Mukuni Village offers visitors a glimpse into the rich cultural heritage of the Leya people. The village boasts a growing curios market where artisans sell beautifully crafted wood carvings, stoneware, jewelry, and baskets.</p>
                           
                            <div style="text-align: center; margin: 0 auto;">
                                <p  style="text-align: center; margin: 0 auto;">
                                    <img src="/assets/img/mukuni_boma_event/mukuni_village_2.jpg" style="width:500px; height: 350px; margin-bottom: 20px;" alt="mukuni_village_2"/>
                                 </p>
                            </div>
                    </div>
                </div>

                    <div class="error-v1">
                        <a class="btn-u btn-bordered" href="https://etd2024.unza.zm/">Back Home</a>
                    </div>
                    
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
