---
title: "Proceedings"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>

        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Proceedings</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Proceedings</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2><strong>ETD 2024 Proceedings</strong></h2>
                        <!-- <span class="text-danger">Time Zone: Africa/Lusaka (GMT+2)</span> -->
                        <div class="">


                            <!-- Monday, November 4, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Full Papers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 20%; vertical-align: middle;">Jive Lubbungu; Chewe Mumba</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 60%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <p>E-Theses and Dissertations in Zambia: A Case Study of Two Universities in Kabwe</p>
                                                    </td>
                                                    <td style="width: 20%; vertical-align: top; padding-left: 10px; text-align: center;">
                                                        <a href="http://example.com/abstract" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Abstract]</a>
                                                        <a href="http://example.com/paper" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Paper]</a>
                                                        <a href="http://example.com/presentation" style="color: blue; font-weight: bold; text-decoration: none;" target="_blank">[Presentation]</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center" style="width: 20%; vertical-align: middle;">Dr. Md. Zillur Rahman</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 60%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <p>Designing a plan for sharing ETD among the University Libraries in Bangladesh</p>
                                                    </td>
                                                    <td style="width: 20%; vertical-align: top; padding-left: 10px; text-align: center;">
                                                        <a href="http://example.com/abstract" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Abstract]</a>
                                                        <a href="http://example.com/paper" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Paper]</a>
                                                        <a href="http://example.com/presentation" style="color: blue; font-weight: bold; text-decoration: none;" target="_blank">[Presentation]</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center" style="width: 20%; vertical-align: middle;">Lanka Ranaweera</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 60%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <p>Nurturing Advanced Research Culture among Medical Practitioners through ETDs: A case study from University of Kelaniya, Sri Lanka</p>
                                                    </td>
                                                    <td style="width: 20%; vertical-align: top; padding-left: 10px; text-align: center;">
                                                        <a href="http://example.com/abstract" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Abstract]</a>
                                                        <a href="http://example.com/paper" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Paper]</a>
                                                        <a href="http://example.com/presentation" style="color: blue; font-weight: bold; text-decoration: none;" target="_blank">[Presentation]</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center" style="width: 20%; vertical-align: middle;">Kamani Perera; Anushka Earskin; Ravindu Sachintha; Indika Wijayasriwardana</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 60%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <p>Implementing Persistent Identifier Infrastructure for Effective Management of ETD Repositories: A Case Study from Chartered Institute of Personnel Management, Sri Lanka</p>
                                                    </td>
                                                    <td style="width: 20%; vertical-align: top; padding-left: 10px; text-align: center;">
                                                        <a href="http://example.com/abstract" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Abstract]</a>
                                                        <a href="http://example.com/paper" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Paper]</a>
                                                        <a href="http://example.com/presentation" style="color: blue; font-weight: bold; text-decoration: none;" target="_blank">[Presentation]</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center" style="width: 20%; vertical-align: middle;">Joseph P. Telemala</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 60%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <p>Improving the Mkulima Repository Content: Utilizing Theses, Dissertations, and LLMs for Agricultural Knowledge Dissemination in Kiswahili</p>
                                                    </td>
                                                    <td style="width: 20%; vertical-align: top; padding-left: 10px; text-align: center;">
                                                        <a href="http://example.com/abstract" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Abstract]</a>
                                                        <a href="http://example.com/paper" style="color: blue; font-weight: bold; text-decoration: none; padding-right: 10px;" target="_blank">[Paper]</a>
                                                        <a href="http://example.com/presentation" style="color: blue; font-weight: bold; text-decoration: none;" target="_blank">[Presentation]</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            

                            
                        </div>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>

    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>

</html>
