---
title: "Call for Workshops and Tutorials"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Workshops and Tutorials</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Workshops and Tutorials</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Worksohps and Tutorials for ETD 2024, Livingstone, Zambia</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for tutorials:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Workshop/Tutorial proposal due: <span class="text-danger"><s>April 26, 2024</s> <s>May 17, 2024</s> <s>June 7, 2024</s> Aug 16, 2024</span><br>
                            Workshop/Tutorials notification: <span class="text-danger"><s>May 17, 2024</s> <s>June 7, 2024</s> <s>June 28, 2024</s> Sep 6, 2024</span><br>
                            Workshop/Tutorial day: <span class="text-danger"><s>October 29, 2024</s> Nov 4, 2024</span>
                        </p>

                        <p>
                            ETD 2024 will hold workshops and tutorials as pre-conference events, to provide a forum for the presentation of new research results and for
                            the demonstration of new approaches and techniques in the broad field of ETDs.
                            ETD 2024 will take place in Livingstone, Zambia, and includes a full day of workshops/tutorials on October 29, 2024. ETD 2024 solicits proposals for both half and full-day workshops and/or tutorials covering topics
                            relevant to fields related to ETDs and their application. Workshops/tutorials should
                            cover a single topic in depth. For example, workshops/tutorials may cover an established ETD 2024 sub-topic, introducing participants to basics of how to come up with effective strategies for implementing ETD initiatives. We are especially interested in modern techniques for the increased visibility of ETDs.
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            Submissions should include preliminary page(s) and an extended abstract using the ETD 2024 format. The preliminary page(s) should
                            include the following elements:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Title</li>
                                    <li>Motivation for the workshop/tutorial as it relates to the ETD 2024 theme and/or ETDs in general</li>
                                    <li>Theme and purpose of the workshop/tutorial</li>
                                    <li>Format (half/full-day) and planned activities, including breaks</li>
                                    <li>List of facilitators/organisers, incuding theirbiographies, describing relevant qualifications and experience</li>
                                    <li>Details of previous similar related workshops held at other events</li>
                                </ul>
                            </blockquote>
                        </p>

                        <p>The extended abstract (maximum of five pages) should be in English, in Microsoft Word format (DOC, DOCX), and in the <a href="https://apastyle.apa.org/style-grammar-guidelines/paper-format/professional-paper.docx">APA 7th Edition Professional Paper format</a>
                        </p>

                        <p>
                            All workshop and tutorial proposals must be submitted via <br>Microsoft's Conference Management Toolkit platform:
                            <a href="https://cmt3.research.microsoft.com/ETD2024" target="_blank"
                                    class="tooltips" data-toggle="tooltip"
                                    data-original-title="Jump to this page">https://cmt3.research.microsoft.com/ETD2024</a>
                        </p>

                        <p></p>

                        <h3><strong>ETD 2024 Local Conference Organising Committee</strong></h3>

                        <strong>Contact information:</strong><br>
                        Please email etd2024-info@unza.zm for any inquiries.
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
