---
title: "Venue"
title: "Mukuni BOMA Welcome Reception"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ETD 2024 - Venue</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Venue</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Attend</a></li>
                    <li class="active">Venue</li>
                </ul>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Mukuni BOMA Welcome Reception</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Mukuni BOMA Welcome Reception</li>
                </ul>
            </div>
        </div>
      
    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="row" style="margin: 50px">
                    <div class="mb-10">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>About Avani Victoria Falls Resort</strong>
                        </h2>
                        <p>Avani hotels are crafted to meet the modern traveler's needs. The emphasis is on achieving a harmonious balance that caters to contemporary preferences.</p>
                        <p>This balance is reflected in every aspect of the Avani experience—combining cool, modern design with thoughtful, attentive service. Avani hotels are designed to be functional yet stylish, offering both high-quality amenities and a sense of privacy.</p>
                        <p>The Avani portfolio spans across Europe, the Middle East, Asia, Africa, and Australia, with new properties continually being added. Each hotel is meticulously designed to provide an experience that strikes the right balance, ensuring comfort and satisfaction for guests.</p>
                        <p>From a warm welcome to a memorable farewell, Avani hotels aim to deliver a seamless and enjoyable stay. The hallmark of the Avani experience is a genuine, friendly approach combined with a touch of playful charm, ensuring that every guest departs with a smile and positive memories.</p>
                    </div>
                        

    
                    <div class="error-v1" style="height: 50vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <br/>
                        <p style="width: 100%; flex: 1;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3796.1705293042346!2d25.86249717517741!3d-17.92419848305744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x194ff09b5958356f%3A0x6b569aaa8d7558cf!2sAvani%20Victoria%20Falls%20Resort!5e0!3m2!1sen!2szm!4v1721738252097!5m2!1sen!2szm" 
                                    title="Google Map to Avani Victoria Falls Resort" 
                                    style="border:0; width: 100%; height: 100%;" 
                                    allowfullscreen="" 
                                    loading="lazy" 
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </p>
                        <a class="btn-u btn-bordered" href="https://etd2024.unza.zm/">Back Home</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
