---
title: "Program at a glance"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Program at a glance</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Program at a glance</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2><strong>ETD 2024 Program</strong></h2>
                        <span class="text-danger">Time Zone: Africa/Lusaka (GMT+2)</span>
                        <div class="">


                            <!-- Monday, November 4, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 1. Monday, November 4, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 1. ETDs 101: No Experience Required!</li>
                                                <li>Workshop 2. Workshop 2. Leveraging ORCID's Global Participation Program and Regional Consortium Approach to Enhance Global ETD Discoverability and Reuse</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H15-13H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 1. ETDs 101: No Experience Required!</li>
                                                <li>Workshop 2. Workshop 2. Leveraging ORCID's Global Participation Program and Regional Consortium Approach to Enhance Global ETD Discoverability and Reuse</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 3. DataCite Connect: Global visibility for your ETDs and beyond with PIDs</li>
                                                <li>Workshop 4. Globalizing Knowledge: Leveraging Large Language Models to Enhance Accessibility of ETDs</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H00-16H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H15-18H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 3. DataCite Connect: Global visibility for your ETDs and beyond with PIDs</li>
                                                <li>Workshop 4. Globalizing Knowledge: Leveraging Large Language Models to Enhance Accessibility of ETDs</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Tuesday, November 5, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 2. Tuesday, November 5, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-08H40</td>
                                        <td>
                                            <ul>
                                                <li>National Anthem</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H40-08H45</td>
                                        <td>
                                            <ul>
                                                <li>Prayer</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H45-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Welcome Remarks: ETD 2024 Chairperson</li>
                                                <li>Opening Remarks: Networked Digital Library of Theses and Dissertations</li>
                                                <li>Opening Remarks: Higher Education Authority</li>
                                                <li>Opening Remarks: Zambia Research and Education Network</li>
                                                <li>Opening Remarks: University of Zambia</li>
                                                <li>Speech by Guest of Honour: Ministry of Education</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">11H45-12H00</td>
                                        <td>
                                            <ul>
                                                <li>Sponsor Talk: ProQuest, a Part of Clarivate</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H30</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H30-11H30</td>
                                        <td>
                                            <ul>
                                                <li>Keynote: Prof. Hussein Suleman</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">11H45-12H00</td>
                                        <td>
                                            <ul>
                                                <li>Sponsor Talk: EBSCO Information Services</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">12H00-13H00</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 50%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <strong>Session 1A. Infrastructure and Technologies</strong>
                                                        <ul>
                                                            <p><em>Chair: Charles Greenberg</em></p>
                                                            <li>Landscape of Open Access Repositories with Special Reference to Electronic Theses and Dissertations (ETD) across SAARC and BRICS Nations: A Comparative Analysis</li>
                                                            <li>Designing a plan for sharing ETD among the University Libraries in Bangladesh</li>
                                                            <li>Implementing Persistent Identifier Infrastructure for Effective Management of ETD Repositories: A Case Study from Chartered Institute of Personnel Management, Sri Lanka</li>
                                                        </ul>
                                                    </td>
                                                    <td style="width: 50%; vertical-align: top; padding-left: 10px;">
                                                        <strong>Session 1B. Policies and Practices</strong>
                                                        <ul>
                                                            <p><em>Chair: Gabriela Mejias</em></p>
                                                            <li>Future-Proofing Research by Long-term ETD Preservation: Challenges and Opportunities</li>
                                                            <li>E-Theses and Dissertations in Zambia: A Case Study of Two Universities in Kabwe</li>
                                                            <li>Nurturing Advanced Research Culture among Medical Practitioners through ETDs: A case study from University of Kelaniya, Sri Lanka</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    
                                    
                                    
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 50%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <strong>Session 2A. Impact and Utilisation</strong>
                                                        <ul>
                                                            <p><em>Chair: Olatunbosun Obileye</em></p>
                                                            <li>Characterization of Scientific Production on Electronic Theses and Dissertations Based on a Bibliometric Analysis</li>
                                                            <li>Extracting and Registering References to Improve Scholarly Impact of ETDs</li>
                                                            <li>International Visibility of ETDs in Portuguese and in English on a Brazilian Repository</li>
                                                            <li>Do More Complete Dissertations’ Metadata Get More Engagement?</li>
                                                        </ul>
                                                    </td>
                                                    <td style="width: 50%; vertical-align: top; padding-left: 10px;">
                                                        <strong>Session 2B. ETDs in Developing Countries</strong>
                                                        <ul>
                                                            <p><em>Chair: Hussein Suleman</em></p>
                                                            <li>Improving the Mkulima Repository Content: Utilizing Theses, Dissertations, and LLMs for Agricultural Knowledge Dissemination in Kiswahili</li>
                                                            <li>The Changing Landscape in Research Data Management in Kenya’s Universities: An Analysis of Development and Implementation</li>
                                                            <li>Empowering HRM Professionals: Advancing Research Culture with ETDs in The Chartered Institute of Personnel Management (CIPM), Sri Lanka</li>
                                                            <li>Unlocking the Potential of ETDs: Implementation of a Novel ETD Repository in Chartered Institute of Personnel Management in Sri Lanka</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H00-16H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>

                                    


                                    <tr>
                                        <td class="text-center" style="width: 15%">16H15-17H00</td>
                                        <td>
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td style="width: 50%; vertical-align: top; border-right: 1px solid #ccc; padding-right: 10px;">
                                                        <strong>Session 3A. Infrastructure and Technologies</strong>
                                                        <ul>
                                                            <p><em>Chair: Kaoma Daka</em></p>
                                                            <li>A Pre-Processing Pipeline for Improved ETD Metadata Quality in Downstream Services</li>
                                                            <li>Seamless Integration of Koha and DSpace for Enhanced Management of Theses and Dissertations in Hybrid Environment: A case of University of Zambia Library</li>
                                                        </ul>
                                                    </td>
                                                    <td style="width: 50%; vertical-align: top; padding-left: 10px;">
                                                        <strong>Session 3B. ETDs in Developing Countries</strong>
                                                        <ul>
                                                            <p><em>Chair: Fabian Kakana</em></p>
                                                            <li>Examining the Cultural and Institutional Factors Impacting ETD Visibility in Zambia: Policy and Practice Implications</li>
                                                            <li>ETD MS v2.0: A New Schema Draft for Electronic Theses and Dissertations</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    

                                    <tr>
                                        <td class="text-center" style="width: 15%">19H00-22H00</td>
                                        <td>
                                            <ul>
                                                <li>BOMA Welcome Reception</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>


                                </tbody>
                            </table>

                            <!-- Wednesday, November 6, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 3. Wednesday, November 6, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Panel Discussion</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H30</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H30-11H45</td>
                                        <td>
                                            <ul>
                                                <li>Session A. Infrastructure and Technologies</li>
                                                <li>Session B. Policies and Practices</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">11H45-12H30</td>
                                        <td>
                                            <ul>
                                                <li>Poster/Demo Session</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">12H30-13H00</td>
                                        <td>
                                            <ul>
                                                <li>ETD 2024 Closing Remarks</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <ul>
                                                <li>Mukuni Village Tour (Free Complimentary Entry)</li>
                                                <li>Victoria Falls Walk Tour (<a href="https://www.zambiatourism.com/park-entry-fees">Entry Fee Details Available Online</a>)</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>

    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>

</html>
