---
title: "Program at a glance"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Program at a glance</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Program at a glance</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2><strong>ETD 2024 Program</strong></h2>
                        <span class="text-danger">Time Zone: Africa/Lusaka (GMT+2)</span>
                        <div class="">


                            <!-- Monday, November 4, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 1. Monday, November 4, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 1. ETDs 101: No Experience Required!</li>
                                                <li>Workshop 2. Globalizing Knowledge: Leveraging Large Language Models to Enhance Accessibility of ETDs</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H15-13H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 1. ETDs 101: No Experience Required!</li>
                                                <li>Workshop 2. Globalizing Knowledge: Leveraging Large Language Models to Enhance Accessibility of ETDs</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 3. DataCite Connect: Global visibility for your ETDs and beyond with PIDs</li>
                                                <li>Workshop 4. Leveraging ORCID's Global Participation Program and Regional Consortium Approach to Enhance Global ETD Discoverability and Reuse</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H00-16H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H15-18H00</td>
                                        <td>
                                            <ul>
                                                <li>Workshop 3. DataCite Connect: Global visibility for your ETDs and beyond with PIDs</li>
                                                <li>Workshop 4. Leveraging ORCID's Global Participation Program and Regional Consortium Approach to Enhance Global ETD Discoverability and Reuse</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Tuesday, November 5, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 2. Tuesday, November 5, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Welcome Remarks</li>
                                                <li>Speech by Host Institutions</li>
                                                <li>Speech by Guest of Honour</li>
                                                <li>Sponsor Talk: ProQuest, a Part of Clarivate</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H30</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H30-11H30</td>
                                        <td>
                                            <ul>
                                                <li>Keynote: Prof. Hussein Suleman</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H30-11H30</td>
                                        <td>
                                            <ul>
                                                <li>Sponsor Talk: TBA</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">12H00-13H00</td>
                                        <td>
                                            <ul>
                                                <li>Session A. Infrastructure and Technologies</li>
                                                <li>Session B. Policies and Practices (2 papers/20 min each)</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <ul>
                                                <li>Session C. Impact and Utilisation</li>
                                                <li>Session D. ETDs in Developing Countries</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H00-16H15</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">16H15-18H00</td>
                                        <td>
                                            <ul>
                                                <li>Session E. Infrastructure and Technologies</li>
                                                <li>Session F. ETDs in Developing Countries</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">18H00-21H00</td>
                                        <td>
                                            <ul>
                                                <li>Mukuni BOMA Welcome Reception</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Wednesday, November 6, 2024 -->
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Day 3. Wednesday, November 6, 2024</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="3">07H30 - 18H00: ETD 2024 Registration - TBA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width: 15%">07H30-08H30</td>
                                        <td>
                                            <ul>
                                                <li>Registration</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">08H30-10H00</td>
                                        <td>
                                            <ul>
                                                <li>Panel Discussion</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H00-10H30</td>
                                        <td>
                                            <ul>
                                                <li>Tea/Coffee Break</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">10H30-11H30</td>
                                        <td>
                                            <ul>
                                                <li>Session A. Infrastructure and Technologies</li>
                                                <li>Session B. Policies and Practices</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">11H30-12H30</td>
                                        <td>
                                            <ul>
                                                <li>Poster/Demo Session</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">12H30-13H00</td>
                                        <td>
                                            <ul>
                                                <li>ETD 2024 Closing Remarks</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">13H00-14H00</td>
                                        <td>
                                            <ul>
                                                <li>Lunch</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="width: 15%">14H00-16H00</td>
                                        <td>
                                            <ul>
                                                <li>Mukuni Village Tour</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="width: 30%">TBA</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>

    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>

</html>
