---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>ETD 2024</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/../assets/css/header-v3.css">
    <style>
        .list{
            font-size:medium; 
            font-weight: bold;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Accepted Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li><a href="">Accepted Papers</a></li>
                    <li class="active">Full Papers</li>
                </ul>
            </div>
        </div>

    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->

                <div class="row" style="margin: 50px">
                    <!-- <div class="mb-10" style="margin-bottom: 30px;">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-4">The following papers are accepted at the ETD 2024 Conference</h3>
                    </div> -->
                    <div class="card">
                        <div class="card-body">
                            <div class="list-group-item" style="border: 0px;">
                                <div class="list-group-item-action">
                                    <li class="list">E-Theses and Dissertations in Zambia: A Case Study of Two Universities in Kabwe</li>
                                    <p class="text-muted mb-0">Jive Lubbungu, Chewe Mumba</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Designing a plan for sharing ETD among the University Libraries in Bangladesh</li>
                                    <p class="text-muted mb-0">Dr. Md. Zillur Rahman</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Nurturing Advanced Research Culture among Medical Practitioners through ETDs: A case study from University of Kelaniya, Sri Lanka</li>
                                    <p class="text-muted mb-0">Lanka Ranaweera</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Implementing Persistent Identifier Infrastructure for Effective Management of ETD Repositories: A Case Study from Chartered Institute of Personnel Management, Sri Lanka</li>
                                    <p class="text-muted mb-0">Kamani Perera, Anushka Earskin, Ravindu Sachintha, Indika Wijayasriwardana</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Improving the Mkulima Repository Content: Utilizing Theses, Dissertations, and LLMs for Agricultural Knowledge Dissemination in Kiswahili</li>
                                    <p class="text-muted mb-0">Joseph P. Telemala</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">ETD MS v2.0: A New Schema Draft for Electronic Theses and Dissertations</li>
                                    <p class="text-muted mb-0">Lamia Salsabil, Jian Wu, Edward A. Fox, William A. Ingram, Ana M. B. Pavani</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Do More Complete Dissertations’ Metadata Get More Engagement?</li>
                                    <p class="text-muted mb-0">Behrooz B. Rasuli, Michael Boock, Joachim Schöpfel, Brenda Van Wyk</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Empowering HRM Professionals: Advancing Research Culture with ETDs in The Chartered Institute of Personnel Management (CIPM), Sri Lanka</li>
                                    <p class="text-muted mb-0">Kamani Perera, Anushka Earskin, Indika Wijayasriwardana</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Future-Proofing Research by Long-term ETD Preservation: Challenges and Opportunities</li>
                                    <p class="text-muted mb-0">Shahzeb Hassan, Subhajit Panda</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">International Visibility of ETDs in Portuguese and in English on a Brazilian Repository</li>
                                    <p class="text-muted mb-0">Ana M. B. Pavani</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Examining the Cultural and Institutional Factors Impacting ETD Visibility in Zambia: Policy and Practice Implications</li>
                                    <p class="text-muted mb-0">Mpundu Chilonga, Cecilia Kasonde, Chewe Mumba</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Extracting and Registering References to Improve Scholarly Impact of ETDs</li>
                                    <p class="text-muted mb-0">Mark E. Phillips, Hannah Tarver, Kristy Phillips</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Seamless Integration of Koha and DSpace for Enhanced Management of Theses and Dissertations in Hybrid Environment:  a case of University of Zambia Library</li>
                                    <p class="text-muted mb-0">Adrian Chisale, Francis Chulu</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">The Changing Landscape in Research Data Management in Kenya’s Universities: An Analysis of Development and Implementation</li>
                                    <p class="text-muted mb-0">Kenneth K. Rotich</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Characterization of Scientific Production on Electronic Theses and Dissertations Based on a Bibliometric Analysis</li>
                                    <p class="text-muted mb-0">Juliana Sousa, Tainá Assis</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Unlocking the Potential of ETDs: Implementation Novel ETD Repository in Chartered Institute of Personnel Management in Sri Lanka</li>
                                    <p class="text-muted mb-0">Kamani Perera, Ravindu Sachintha, G. Weerathunga</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">A Pre-Processing Pipeline for Improved ETD Metadata Quality in Downstream Services</li>
                                    <p class="text-muted mb-0">Elijah Chileshe, Chilufya Chanda, Chileshe Kamfwa, Chuulu Mainda, Lighton Phiri</p>
                                </div>
                                <div class="list-group-item-action">
                                    <li class="list">Landscape of Open Access Repositories with Special Reference to Electronic Theses and Dissertations (ETD) across SAARC and BRICS Nations:  A Comparative Analysis</li>
                                    <p class="text-muted mb-0">Vivek Mr. Ranjan, Manoj Kumar K., Kotrayya Agadi, Surbhi</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                        <div class="col-md-8 col-md-offset-2">
                            <div class="error-v1">
                                <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                            </div>
                        </div>                    
                </div>  

            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
